* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bx {
    background-color: #4e25ff;
    color: white;
    padding: 5px;
    font-size: 23px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.bx:hover {
    background-color: #4621e5;
}