* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contactImage {
    width: 710px;
    height: 225px;
    border-radius: 5px;
    overflow: hidden;
}

.contactImage img {
    border-radius: 5px;
}

.button {
    background-color: #4e25ff;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 5px;
}


.button:hover {
    background-color: #4621e5;
}